﻿
@{
    ViewBag.Title = "Welcome";
}
<style>
    table, tr, td, th {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
    }
</style>
<link href="~/Content/ui-bootstrap-csp.css" rel="stylesheet" />
<body ng-app="APIModule">
    <div id="users col-md-12" ng-controller="ApiController">
        <div style="float: right" ng-if="loginSuccess">
            <button type="button" class="btn btn-default" ng-click="logOut()">Log Out</button>
        </div>
        <div class="header" ng-if="loginSuccess">
            <h2>Welcome {{loggedID}}!</h2>
        </div>        
        <div class="header" ng-if="!loginSuccess">
            <h2>Welcome Guest!</h2>
        </div>
        <div class="login" ng-if="!loginSuccess">
            <print-login 
                status-model="statusModel"
                login-click="loginUser(userID, loginPwd)">
            </print-login>
            <span ng-click="registerU()" style="cursor:pointer" ng-if="!registerShow"><a>Please click here to Register yourself.</a></span>
        </div>
        <div class="register" ng-if="registerShow">
            <print-register 
                status-model="statusModel"
                register-click="registerUser(userID, loginPwd, userName, userDOB, userAbout)">
            </print-register>
        </div>
        <div class="user-list" ng-if="loginSuccess && UserInfo.ID > 0">
            <table>
                <tr>
                    <th>ID</th>
                    <th>User ID</th>
                    <th>User ID ( Double click to update)</th>
                    <th>Date of birth</th>
                    <th>About Yourself</th>
                </tr>
                <tbody>
                    <tr>                    
                        <td>{{UserInfo.ID}}</td>
                        <td>{{UserInfo.UID}}</td>
                        <td ng-blur="updUser(UserInfo,$event)" ng-dblclick="makeEditable($event)">{{UserInfo.FullName}}</td>
                        <td>{{UserInfo.DOB}}</td>
                        <td>{{UserInfo.AboutU}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="~/Scripts/lodash.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="~/Scripts/UsersApp/Module.js"></script>
    <script src="~/Scripts/UsersApp/Service.js"></script>
    <script src="~/Scripts/UsersApp/Controller.js"></script>
    <script src="~/Scripts/UsersApp/Directives/LoginDirective.js"></script>
    <script src="~/Scripts/UsersApp/Directives/RegisterDirective.js"></script>
</body>



