﻿<h2>Login Here</h2>
<div class="form-group">
    <label>User ID</label>
    <input type="text" class="form-control" id="uid" placeholder="Enter User ID" [required="string" ] data-ng-model="uid" />
    <label for="uid">Password</label>
    <input type="password" class="form-control" id="pwd" placeholder="Enter User Password" [required="string" ] data-ng-model="upwd" />
</div>
<button type="button" class="btn btn-default" data-ng-click="loginUser(uid,upwd);">Login</button>
<div class="panel-body" ng-if="statusModel.messageFor == 'login'">
    <div class="message-container" style="color:red;" ng-if="statusModel.messageType == 'error'">
        <div class="message-title-container">
            <span>{{statusModel.message}} - {{statusModel.code}}</span>
        </div>
    </div>
</div>
