﻿<h2>Add User Here</h2>
<div class="form-group">
    <label for="uid">User ID</label>
    <input type="text" class="form-control" id="uid" placeholder="Enter User ID" [required="string" ] data-ng-model="userid" />
    <label for="uid">Password ID</label>
    <input type="password" class="form-control" id="pwd" placeholder="Enter User Password" [required="string" ] data-ng-model="userpwd" />
    <label for="uid">Full Name</label>
    <input type="text" class="form-control" id="uname" placeholder="Enter User Name" [required="string" ] data-ng-model="username" />
    <label for="uid">User DOB</label>
    <input type="text" class="form-control" id="udob" placeholder="Enter User DOB" [required="string" ] data-ng-model="userdob" />
    <label for="uid">User About Yourself</label>
    <input type="text" class="form-control" id="uabout" placeholder="Enter User About Yourself" [required="string" ] data-ng-model="userabout" />
</div>
<button type="button" class="btn btn-default" data-ng-click="onClickRegisterUser(userid, userpwd, username, userdob, userabout);">Submit</button>
<div class="panel-body" ng-if="statusModel.messageFor == 'register'">
    <div class="message-container" style="color:red;" ng-if="statusModel.messageType == 'error'">
        <div class="message-title-container">
            <span>{{statusModel.message}} - {{statusModel.code}}</span>
        </div>
    </div>
</div>